/* RESOLUTION MD (768PX) */

@media screen and (min-width: 768px) {
  #player .listening-music .save-music i {
    display: inline-block;
  }

  #player {
    gap: 2rem;
  }

  .content .col-1-2 {
    width: 25%;
  }
}

/* RESOLUTION LG (	≥992px) */

@media screen and (min-width: 992px) {
  .content .col-1-2 {
    width: calc(100% / 6);
  }
}
