/* RESOLUTION S (640PX) */

@media screen and (min-width: 640px) {
  .sidebar {
    width: var(--sidebar-width-s);
    padding: 1rem 0;
  }

  .sidebar .logo-big {
    display: block;
    width: 10rem;
  }

  .sidebar .logo-small {
    display: none;
  }

  .sidebar-logo,
  .sidebar-home,
  .sidebar-search,
  .sidebar-library,
  .sidebar-download,
  .sidebar-profile,
  .sidebar-add-playlist {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .sidebar-logo {
    width: 50px;
  }

  .sidebar-top-logo {
    padding-bottom: 2rem;
  }

  .d-inline-block {
    display: inline-block;
  }

  #span-spotify {
    font-size: 2rem;
    color: white;
  }

  .sidebar-bottom-download {
    border-bottom: 1px solid;
  }

  #profile-name {
    color: white;
    font-weight: bold;
  }

  .sidebar-top-playlist h3 {
    padding-top: 1rem;
    color: white;
  }

  .sidebar-add-playlist {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .list-playlist-name li {
    padding-bottom: 1rem;
  }

  .d-block {
    display: block;
  }

  .sidebar-top-logo,
  .sidebar-top-home,
  .sidebar-top-search,
  .sidebar-top-library,
  .sidebar-top-playlist {
    padding-left: 1rem;
  }

  .sidebar-bottom {
    padding: 0 1rem;
  }

  .sidebar-top-search:hover,
  .sidebar-top-library:hover,
  .sidebar-top-home:hover {
    border-left: 5px solid green;
    padding-left: calc(1rem - 5px);
  }
}
