:root {
  --player-height: 100px;
  --sidebar-width: 60px;
  --top-bar-height: 100px;
}

/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;

  margin-left: 1rem;
  margin-right: 1rem;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

/* WRAPPER  */

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #141922;
}

/* TOP ELEMENT  */

.main-element {
  height: calc(100vh - var(--player-height));
  display: flex;
}

.main-content {
  width: calc(100% - var(--sidebar-width));
}

.top-bar {
  height: var(--top-bar-height);
  background-color: #080b12;
}

.content {
  height: calc(100% - var(--top-bar-height));
}

/* PLAYER  */

.player {
  height: var(--player-height);
  background-color: #282828;
}

/* SIDEBAR  */

.sidebar {
  width: var(--sidebar-width);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar-logo,
.sidebar-home,
.sidebar-search,
.sidebar-library {
  width: 30px;
  padding-bottom: 0.5rem;
}

.sidebar-top {
  margin-top: 0.5rem;
}

.sidebar-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  background-image: url(../spotify/img/profile.svg);
  background-size: cover;
  margin-top: 0.5rem;
}

.sidebar-download {
  width: 20px;
  margin: 0 auto;
}

.sidebar-bottom {
  margin-bottom: 0.5rem;
}
